* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-image: url(images/backcover.svg);
  background-repeat: no-repeat;
  background-size: 1240px 820px;
  background-position: right -13rem top -5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem 2rem 8rem;
}

.nav-items {
  display: flex;
  z-index: 10;
  gap: 3.5rem;
  font-size: 18px;
  color: #3b4385;
  cursor: pointer;
  font-weight: 500;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  top: 7%;
  right: 5%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 25px;
  height: 5px;
  background-color: black;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

.nav-item:hover {
  cursor: pointer;
  color: rgb(221, 43, 102);
  transition: 0.3s ease;
}

.signin-btn {
  background: linear-gradient(to right, #9979f2, #f288db);
  height: 30px;
  width: 80px;
  border-radius: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}

.intro-section {
  display: flex;
  height: 85vh;
}

.left-section {
  display: flex;
  padding-top: 50px;
  padding-left: 8rem;
  height: 70vh;
  width: 45vw;
  flex-direction: column;
  justify-content: space-between;
}

.left-section h1 {
  font-size: 4rem;
  color: #3e4794;
}

.left-section h4 {
  position: relative;
  bottom: 6rem;
  color: #81849f;
  font-weight: 200;
  width: 20vw;
  line-height: 1.7rem;
}

.learn-more-btn {
  position: relative;
  bottom: 9rem;
  height: 42px;
  width: 200px;
  font-size: 22px;
  border-radius: 2rem;
  background: linear-gradient(to right, #9979f2, #f288db);
  color: #ffffff;
}

.vector-img {
  position: absolute;
  top: 76%;
  left: 42%;
}

.vector-dot {
  position: absolute;
  top: 77%;
  left: 46%;
}

img:last-child {
  height: 80vh;
  width: 60vw;
  margin-top: -10px;
  margin-right: 15px;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: none;
  }

  nav img {
    width: 90px;
    position: relative;
    left: -7rem;
  }

  .signin-btn {
    display: none;
  }

  .nav-items {
    float: none;
    position: fixed;
    z-index: 9;
    background-color: rgb(242, 136, 219, 0.8);
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 900;
    width: auto;
    height: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .nav-items h5 {
    font-size: 20px;
  }

  nav :checked ~ .nav-items {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~.icon-burger .line:nth-child(1){
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~.icon-burger .line:nth-child(3){
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~.icon-burger .line:nth-child(2){
    opacity: 0;
  }

  .intro-section{
    display: flex;
    flex-direction: column-reverse;
  }

  .imgs-div{
    display: block;
  }

  .big-img{
    width: 400px;
    position: relative;
    top: 20rem;
    left: 5rem;
  }

  .vector-img{
    display: none;
  }

  .vector-dot{
    display: none;
  }

  .left-section{
    position: relative;
    top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .left-section h1{
    font-size: 45px;
    position: relative;
    right: 7rem;
    bottom: 4rem;
    width: 19rem;
  }

  .left-section h4{
    font-size: 15px;
    width: 19rem;
    position: relative;
    right: 7rem;
    bottom: 8rem;
  }

  .learn-more-btn{
    font-size: 20px;
    width: 19rem;
    position: relative;
    right: 7rem;
    bottom: 13rem;
    overflow: hidden;
  }
}
